<article id="page">
  <div class="new-page-name">
    <h2><%=page.title%></h2>
  </div>
  <%-page.content%>
</article>

<div id="paginator">
  <%-paginator({prev_text: '上一页',next_text: '下一页'})%>
</div>
