<div id="recent-posts">
  
  <!-- 当前分类 -->
  <div class="page-name">
    <h2>标签: <%= page.tag %></h2>
  </div>

  <!-- 迭代文章 -->
  <%- partial('partials/print-posts') %> 

</div>

<% if (page.total > 1) { %> 
  <div id="paginator">
    <%-paginator({prev_text: '上一页',next_text: '下一页'})%>
  </div>
<% } %> 