@import 'global'

// 自建页面. post.ejs
.archive-title-name
#page .new-page-name
  color: gray
  border-bottom: 1px solid rgba(gray,0.1)
  font-family: Monaco, '宋体'

// 文章存档
.archive-item
  border-bottom: 1px dotted rgba(gray,0.2)
  margin-top: 25px


.archive-item a
  color: black !important
  text-decoration: none
  margin-bottom: 50px
  font-size: 18px
  &:hover
    text-decoration: underline !important