html
  height 100%
  width: 100%

body
  margin: 0
  height 100%
  width: 100%
  position relative
  z-index: -10
  margin-top: -20px
  overflow-x: hidden
  word-wrap: break-word; // 移除换行
  word-break: break-all;
  background-color: #fcfcf8
  // font-weight: bold
  font-family: '苹方'
  @media (max-width: 1020px)
    font-size: 14px
  @media screen and (max-width: 768px)
    font-size: 14px
    width: 70%
  @media (max-width: 320px)
    font-size: 12px

// 图片默认样式
img
  max-width: 90%
  display: block
  margin: 0 auto

hr
  border: 1px dashed rgba(gray, 0.5) !important
  width: 100%

article p a
  text-decoration: none


// 全局颜色变量
globle-nav-color = #2A2935
globle-font-color = #ffc402
globle-h-color = #ffc402
globle-a-color = gray
globle-a-hover-color = #e6b000


@import 'theme/aVisited'

// 选中文字背景
*::selection
  background globle-font-color
  color white
*::-moz-selection
  background globle-font-color
  color white
*::-webkit-selection
  background globle-font-color
  color white
