// markdown
@import 'theme/markdown'
  
// 字体和全局样式
@import 'fonts'
@import 'global'
@import 'tag'

// 侧边导航栏
@import 'nav'

// 代码块高亮
@import 'highlight'

// 文章展示（最新文章+文章页）
@import 'post'

// 文章存档
@import 'archive'
// 版权信息
@import 'theme/article-origin'
// 自定义页面样式
@import 'message/about'

// 布局-中间部分样式 -------------------------------
#content-outer
  position absolute
  padding-left: 2%
  left 181px
  height 100%
  width: 85%
  padding-right: 50px
  @media screen and (max-width: 768px)
    margin-left: 2%
    left 0px
    width: 100%
    padding-left: 2.3em

#content-outer
  padding-top: 1%
#content-outer a
  color: globle-nav-color
#content-outer a&:hover
  color: globle-font-color
#content-inner
  margin-left: 0.5%
  @media screen and (max-width: 768px)
    width: 120%
    margin: 0


// 页脚
#bottom-outer
  position fixed
  bottom -15px
  left 180px
  padding-left: 10px
  height 30px
  line-height: 30px
  width: 87.5%
  color: gray
  font-size: 15px
  margin-bottom: 15px
  background-color: rgba(white, 0.8)
  @media screen and (max-width: 768px)
    left: 0
    width: 100%

// 回到顶部
#bottom-totop
  margin-left: 2%
  text-decoration: none
  &:hover
    background-image -webkit-linear-gradient(bottom,red,#ff5f60,#f0c41b)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    
#bottom-inner span
  margin-left: 58% !important
  position: relative;
  padding-right: 25px;
  @media screen and (max-width: 1020px)
    margin-left: 40% !important
  @media screen and (max-width: 800px)
    margin-left: 50% !important
  @media screen and (max-width: 500px)
    margin-left: 20% !important
  @media screen and (max-width: 350px)
    margin-left: 10% !important


// 分页 -----------------------------------
#paginator
  margin-bottom: 50px
  margin-top: 30px
  padding-top: 5px
  border-top: 1px solid rgba(gray,0.1)
  border-bottom: 1px solid rgba(gray,0.1)
  padding 0.5em 0.5em

.page-number
#paginator span
#paginator a
  text-decoration: none
  margin 0
  padding 5px 5px

.next
.prev
  margin-right: 10px

.page-number
  margin-right: 10px

.current
  color: globle-font-color !important

.input-ctl .in
  display inline
  width 3em
  border: 1.5px solid gray
.input-ctl #bt
  display inline
  border: 1px solid globle-font-color
  background-color: globle-font-color
  border-radius: 5px
  color: black
  font-weight: bold
  box-shadow: 2px 2px 2px #888888
  &:hover
    color: white
    cursor pointer

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
input[type="number"]
  -moz-appearance: textfield




