@import 'global'
  
// 容器
#container
  position: relative;
  height 100%
  width: 100%

// 导航 --------------------------------------
#menu-outer
  background-color globle-nav-color
  float left
  width: 180px
  position: fixed
  height 100%
  color: globle-font-color 
  margin-top: 20px
  margin-right: 30px
  @media screen and (max-width: 768px)
    display: none

// 导航栏超链接
#menu-a
  display block
  height 40px
  line-height: 40px
  text-align: right
  padding-right: 18px 
  text-decoration: none
  color: #ffffff
  &:hover
    color: globle-font-color 
    background-color: #faf5f0
    border-right: 3px solid globle-nav-color

// 博客标题
#menu-title h3 a
  color: globle-font-color
  text-decoration: none
  font-weight: normal
  font-size: 1.2rem
  font-family '苹方'
  &:hover
    background-image -webkit-linear-gradient(bottom,red,#ff5f60,#f0c41b)
    -webkit-background-clip text
    -webkit-text-fill-color transparent

// 导航栏footer
#menu-footer
  position absolute
  left: 0
  font-size: 10px
  bottom: 1%
  width: 180px
  text-align: center
  font-family: Monaco
  &:hover
    background-image -webkit-linear-gradient(bottom,red,#ff5f60,#f0c41b)
    -webkit-background-clip text
    -webkit-text-fill-color transparent

.foot_msg:hover
  cursor pointer
  background-image -webkit-linear-gradient(bottom,red,#ff5f60,#f0c41b)
  -webkit-background-clip text
  -webkit-text-fill-color transparent

// 小屏幕导航栏
#min-menu-outer 
  position fixed
  top: 0
  margin 0
  height 50px
  line-height: 50px
  z-index: 10
  width 100%
  background-color: globle-nav-color
  @media screen and (min-width: 767px)
    display: none

#min-menu-outer h3
  margin-left: 10px
  display inline

#min-menu-outer a
  color: globle-font-color
  text-decoration: none
  font-weight: normal

#min-menu-outer #min-menu-inner
  float right 
  margin-right: 5%

#min-menu-outer #min-menu-inner a
  font-size: 12px
