<% if (page.posts.length > 0) { %>
<!-- print start -->

  <div id="recent-posts">

    <div class="page-name">
      <h2>最新文章</h2>
    </div>

    <!-- 迭代文章 -->
    <%- partial('partials/print-posts') %> 

  </div>

<!-- print end -->
<% } %>

