
// 博客导航栏激活样式
.nav_active
    color: globle-font-color !important
    background-color: #22212b !important
    border-right: 3px solid globle-font-color !important

// 文章目录激活样式
.toc_active
    color: globle-font-color
    background-color: globle-nav-color